<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Wants" icon-off="ion-wineglass" icon-on="ion-wineglass" href="#/tab/wants">
    <ion-nav-view name="tab-wants"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Needs" icon-off="ion-waterdrop" icon-on="ion-waterdrop" href="#/tab/needs">
    <ion-nav-view name="tab-needs"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Graphs" icon-off="ion-pie-graph" icon-on="ion-pie-graph" href="#/tab/graphs">
    <ion-nav-view name="tab-graphs"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Logs" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper-outline" href="#/tab/logs">
    <ion-nav-view name="tab-logs"></ion-nav-view>
  </ion-tab>

</ion-tabs>
